.List {
  overflow-y: scroll;
  padding: 20px;
}

.List--list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.List--list-pokemon {
  padding: 5px;
  border-top: 1px solid var(--pokemon-black);
}

.List--list-pokemon:last-of-type {
  border-bottom: 1px solid var(--pokemon-black);
}
